<%- include('../../../partials/staff_shell_top', { title: 'Orders' }) %>

  <a href="/orders/staff" class="text-indigo-600 text-sm font-bold flex items-center gap-2 mb-2 hover:underline">
            <i class="pi pi-arrow-left text-xs"></i> Back to Order List
          </a>
<%- include('../../../partials/order-detail', { title: 'Orders' }) %>

<%- include('../../../partials/staff_shell_bottom', { title: 'Orders' }) %>