<%- include('../../../partials/header_meta') %>

  <body class="bg-slate-50 min-h-screen">
    <%- include('../../../partials/header') %>

      <a href="/orders" class="text-indigo-600 text-sm font-bold flex items-center gap-2 mb-2 hover:underline">
            <i class="pi pi-arrow-left text-xs"></i> Back to History
          </a>
    <%- include('../../../partials/order-detail') %>

    <%- include('../../../partials/footer') %>
  </body>